*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div{
    height: 700px;
    width: 700px;
    background-color: blue;
}
/*@media  (max-width: 600px)*/
/*screeen -> tela   orientation: landscape tela deitada*/
@media screen and (max-width: 600px) and (orientation: landscape){
    div{
        background-color: red;
        width: 200px;
        height: 200px;
    }
}